.chore-title {
  font-size: 25px;
  word-wrap: break-word;
}

.chore-earnings {
  font-size: 25px; 
  background: rgba(255, 255, 255, 0.3);
  margin-top: 20px;
  padding: 5px 5px;
  border-radius: 8px;
}

.chore-image-list {
  width: 100%;
  border-radius: 8px;
  align-self: center;
  margin-bottom: 10px;
}

