.chore-title {
  font-size: 25px;
  word-wrap: break-word;
}

.chore-earnings {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px; 
  background: rgba(255, 255, 255, 0.3);
  margin-top: auto; /* Pushes it down */
  padding: 8px 10px;
  border-radius: 8px;
}

.chore-image-list {
  width: 100%;
  border-radius: 8px;
  align-self: center;
  margin-bottom: 50px;
}

