.weather-container {
  text-align: center;
  margin-top: 20px;
}

.weather-tile {
  background: linear-gradient(135deg, #0077b6, #00b4d8);
  color: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  margin-top: 20px;
  min-width: 250px;
  font-size: 18px;
}

.weather-tile p {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.weather-tile h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.weather-icon {
  width: 50px;
  height: 50px;
}

