nav ul .active {
    background-color: burlywood;
}
nav{
    display: flex;
    align-items: center;
    background-color: lightcyan;
    position: sticky;
    top: 0;
}

nav .title{
    font-size: 3rem;
    padding-left: 0.5rem;
    font-weight: bold;
    color: chocolate;
    text-decoration: none;
    justify-self: left;
}

nav ul{
     display: flex;
     margin-left: auto;
}

nav ul li{
    list-style: none;

}

nav ul li a{
    display: block;
    text-decoration: none;
    color: chocolate;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):hover{
    background-color: burlywood;
}

.logo {
    height: 10em;
    width: 10em;
    float: left;
  }

  @media(max-width: 480px){
    nav .menu{
        display: flex;
    }
  }